body{
    font-family:sans-serif;
    background-image: url(https://github.com/delfizapata/proyecto-vainilla/raw/main/fondo.png?raw=true);
    background-size: cover;
    justify-content: space-between;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    a{
        display: flex;
        width: 200px;
        gap:45px;
        background-size: cover;
        height: 175px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px; 
      
    
    }
    nav{
        display: flex;
        gap:15px;
        align-items: center;
        color: rgb(41, 17, 1);
        font-weight: bold;

    }        
}
p{
    color: rgb(75, 56, 32);
    display: flex;
    font-size: 14px;
    margin: 0px;
    font-weight: 600;
    font-weight: 500;
}
.botones{
    color: rgb(95, 50, 8);
    display: flex;
    font-size: 14px;
    margin: 0px;
    font-weight: bolder;
    text-decoration: none;
}
main{
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 500px;
    margin-block-end: 80px;
}
h1{
    color:rgb(83, 25, 3);
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 6px;
    font-weight: bolder;
}
.boton{
    color: rgb(41, 17, 1);
    font-size: small;
    font-weight: 60px;
    font-style: normal;
    width: 80px;
    top: 5px;
    position: relative;
    right: 0px;
    text-decoration: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    color: rgb(226, 105, 24);
    position: fixed;
    bottom: 0px;
    div{
        display: flex;
        gap:100px;
        align-items: center;
        font-size: 15px;
        font-weight: bolder;
        margin: 0px;
    }
}

